
<div class="row">
<div class="col-md-8"><h1>Explore audios</h1></div>
<!-- <button class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><%= link_to 'New Music', new_music_path %></button> -->

<div class="col-md-2"><%= link_to 'New Audio', new_audio_path, class: "btn btn-primary" %></div>
<div class="col-md-2"><%= link_to 'See musics', musics_path, class: "btn btn-default" %></div>
</div>

<div id="music-form" style="display:none;"></div> 
<br>

<div >

<table class="table table-striped">
<% @audios.each do |audio| %>
  
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <div>
      <%= image_tag(audio.user.image.url(:small), :class => "profile-img") %>
      </div>
    </td>
    <td class="list_description">
      <ul class="music-item">
        <li>
        <strong><%= link_to audio.user.name, mytimeline_path(audio.uid) %></strong>
        </li>
        <li> 
          <%= audio.comment %> 
        </li>
        <li>  
          <p>
          <audio controls>
          <source src=<%= audio.audioFile.url %> type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          </p>
        </li>

        <!-- <li style="color:grey"><%= audio.created_at %></li> -->
            <% 
              dayDiff = (Time.zone.now - audio.created_at).to_i / 1.day
              if dayDiff == 0 
                hourDiff = (Time.zone.now - audio.created_at).to_i / 1.hour
                if hourDiff == 0
                  minDiff = (Time.zone.now - audio.created_at).to_i / 1.minute
            %>
                <div style="color:grey"><%= minDiff%> min ago</div> 
                <% else %>
                <div style="color:grey"><%= hourDiff%> hours ago</div> 
                <% end %>
            <% else %>
              <div style="color:grey"><%= dayDiff%> days ago</div>
            <% end %> 

        <li>
            <%= link_to 'Add Comment',new_comment_path(:post_id => audio.id, commenttype => @commenttype), :class=> "add-comment", 
            :id => "add-comment" + audio.id.to_s, :remote => true %> 
            <%= audio.comments.size %>
             
            <%= link_to 'Like', like_audio_path(audio.id), class:"like-vote", method: :put, remote: true%>
            <span class="like-count" data-id="<%= audio.id %>">
              <%= audio.likecount %>
            </span>
 
            <div id="comment-form-<%= audio.id %>" class="comment-form" style="display:none;"></div> 
           <table>
           <td>Comments:</td>
             <% audio.audiotop3comments.each do |comment| %>
              <tr>
                <td>
                <%= link_to comment.user.name + ':', mytimeline_path(comment.user.id) %>
                <%= comment.content %>  
                </td>
              </tr>
              <% end %>  
              <td>
              <%= link_to 'Show all comments', audioallcomments_path(audio.id) %>
              </td>
            </table>
        </li>


        
      </ul>
    </td>        
<!--     <td class="list_actions">
      <%= link_to 'Show', audio %><br/>
      <%= link_to 'Edit', edit_audio_path(audio) %><br/>
      <%= link_to 'Delete', audio, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td> -->
  </tr>
<% end %>
</table>
<br />

</div>