<%= form_for(@like) do |f| %>
  <% if @like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@like.errors.count, "error") %> prohibited this like from being saved:</h2>

      <ul>
      <% @like.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.hidden_field :post_id, :value => params[:post_id]%>
  </div>

  <div class="field">
      <%= f.hidden_field :liketype, :value => params[:liketype] %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
  

<% end %>
