<p id="notice"><%= notice %></p>

<p>

<%= image_tag @user.image.url(:small) %>
</p>

<p>
  <%= @user.name %>
</p>


<p>
MyFriends:
</p>

<% @friends.each do |friend| %>
      <p>  
       <%= link_to (image_tag friend.image.url(:small)), friend %> 
      </p>
      <p>
      	<%= link_to friend.name, friend %> 
      </p>
 <% end %>


