<p id="notice"><%= notice %></p>

<!-- <p>

<%= image_tag @user.image.url(:small) %>
</p>

<p>
  <%= @user.name %>
</p> -->


<h2>MyFriends</h2>

<table class="table table-striped">
<% @friends.each do |friend| %>
	<tr>
		<td class='list_description'>
    	<%= link_to (image_tag friend.image.url(:small)), friend %> 
    	<%= link_to friend.name, friend %> 
    	</td>
    </tr>
 <% end %>
 </table>


