

<%= form_tag(search_url, :method => 'get', :id => 'users_search') do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Users"%>
        <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%
    if params[:search]
      @searchedUsers = User.search(params[:search]).order("created_at DESC")
    else
      @searchedUsers = User.order("created_at DESC")
    end    

    @current_user = User.find(session[:user_id])
%>

<br />

<div >

<% if (@searchedUsers) %>

    <table class="table table-striped">
      <% @searchedUsers.each do |searchedUser| %>
        <% unless searchedUser == @current_user %>

        <tr>
        <td class="col-md-6">
          <% if @current_user.check_friendship(searchedUser.id) %>
            <%= image_tag searchedUser.image.url(:small), :class => "profile-img" %>
            <%= link_to searchedUser.name, mytimeline_path(searchedUser.id) %> 
          <% else %>
            <%= image_tag searchedUser.image.url(:small), :class => "profile-img" %>
            <%= link_to searchedUser.name, user_path(searchedUser.id) %> 
          <% end %>
        </td>
        </tr>
        
        <% end %>
      <% end %>
    </table>

<br />

<% end %>

</div>