
<%= form_tag(search_url, :method => 'get', :id => 'users_search') do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Users"%>
        <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<br />

<div >

<% if (@searchedUsers) %>

  <% cache(cache_key_for_searchedUser_table(params[:search])) do %>

    <table class="table table-striped">
      <% @searchedUsers.each do |searchedUser| %>

        <% cache(cache_key_for_searchedUser_row(searchedUser)) do %>

          <!-- <% unless searchedUser == @current_user %> -->

          <tr>
          <td class="col-md-6">
            <% if @current_user.check_friendship(searchedUser.id) %>
              <%= image_tag searchedUser.image.url(:small), :class => "profile-img" %>
              <%= link_to searchedUser.name, mytimeline_path(searchedUser.id) %> 
            <% else %>
              <%= image_tag searchedUser.image.url(:small), :class => "profile-img" %>
              <%= link_to searchedUser.name, user_path(searchedUser.id) %> 
            <% end %>
          </td>
          </tr>
          
          <!-- <% end %> -->

        <% end %>

      <% end %>
    </table>

  <% end %>

<br />

<% end %>
<%= will_paginate @searchedUsers, renderer: BootstrapPagination::Rails %>

</div>