<p id="notice"><%= notice %></p>

<%= link_to 'Back', :back %>

<div class="middle-page">
  <div>
  <%= image_tag(@user.image.url(:small), :class => "profile-img") %> 
  </div>
  <div>
  <strong><%= link_to @user.name, homepage_path(@user.id)%></strong>
  </div>
</div>


<br>
<br>

<div >
<br />  

  <% if @user == @current_user or @user.check_friendship(@current_user.id) %>
    <table class="table table-striped">

    <% @mymusics.each do |music| %>
     
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= image_tag(@user.picurl, class: 'list_image') %>
        </td>
        <td class="list_description">
          <dl>
            <dt><%= music.comment %>        
            <dd><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=340 height=90  src="<%= music.link %>"></iframe></dd>
            <dd style="color:grey"><%= music.created_at %></dd> 
          </dl>
        </td>
        <td class="list_actions">
          <% if @user == @current_user %>
            <%= link_to 'Delete', music, method: :delete,
                        data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>

      </tr>
    <% end %>
    </table>
  <% end %>

<br />
</div>
