<p id="notice"><%= notice %></p>
<h4>Notification</h4>

<table class="table table-striped">
        <% @mynotification.each do |notification| %>
        <tr>
        <td class="col-md-6">
           <%=User.find(notification.commenter).name%>
           <%=" commented on your post "%>
           <!-- <%=notification.created_at.strftime("on %B %d at %I:%M %p")%> -->

            <% 
              dayDiff = (Time.zone.now - notification.created_at).to_i / 1.day
              if dayDiff == 0 
                hourDiff = (Time.zone.now - notification.created_at).to_i / 1.hour
                if hourDiff == 0
                  minDiff = (Time.zone.now - notification.created_at).to_i / 1.minute
            %>
                <%= minDiff%> min ago
                <% else %>
                <%= hourDiff%> hours ago
                <% end %>
            <% else %>
              <%= dayDiff%> days ago
            <% end %>             

           <%= link_to "View", "viewcomm/"+notification.id.to_s%>
        </td>
        </tr>
      <% end %>
    </table>



