<p id="notice"><%= notice %></p>
<!-- <h3>Comments</h3> -->
  <h1 class="cd-headline">
    <span>Comments</span>
  </h1>

<br >

<table class="table table-striped">
        <% @commentNotification.each do |notification| %>
        <tr>
        <td class="col-md-6">
           <b><%=User.find(notification.commenter).name%></b>
           <%=" commented on your post "%>
           <!-- <%=notification.created_at.strftime("on %B %d at %I:%M %p")%> -->

            <% 
              dayDiff = (Time.zone.now - notification.created_at).to_i / 1.day
              if dayDiff == 0 
                hourDiff = (Time.zone.now - notification.created_at).to_i / 1.hour
                if hourDiff == 0
                  minDiff = (Time.zone.now - notification.created_at).to_i / 1.minute
            %>
                <%= minDiff%> min ago
                <% else %>
                <%= hourDiff%> hours ago
                <% end %>
            <% else %>
              <%= dayDiff%> days ago
            <% end %>             

           <%= link_to "View", viewcomm_path(notification.id) %>
        </td>
        </tr>
      <% end %>
</table>

<br >

<!-- <h3>Likes</h3> -->
  <h1 class="cd-headline">
    <span>Likes</span>
  </h1>

<br >

<table class="table table-striped">
        <% @likeNotification.each do |notification| %>
        <tr>
        <td class="col-md-6">
           <b><%=User.find(notification.liker).name%></b>
           <%=" liked your post "%>

            <% 
              dayDiff = (Time.zone.now - notification.created_at).to_i / 1.day
              if dayDiff == 0 
                hourDiff = (Time.zone.now - notification.created_at).to_i / 1.hour
                if hourDiff == 0
                  minDiff = (Time.zone.now - notification.created_at).to_i / 1.minute
            %>
                <%= minDiff%> min ago
                <% else %>
                <%= hourDiff%> hours ago
                <% end %>
            <% else %>
              <%= dayDiff%> days ago
            <% end %>             

           <%= link_to "View", viewlike_path(notification.id) %>
        </td>
        </tr>
      <% end %>
</table>

