<p id="notice"><%= notice %></p>

<p>
<%= image_tag @user.image.url(:small) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @user.interest %>
</p>


<p>
<%= link_to 'MyFriends', friends_path(@user) %> 
</p>

<p>
<%= link_to 'MyTimeline', mytimeline_path(@user) %> 
</p>

 <% unless @current_user == @user %>
        <%= link_to "Add Friend", friendships_path(:friended_id => @user.id), :method => :post %>
    <% end %>

    <h4>Friends</h4>
    <ul>
        <% @user.friends.each do |friend| %>
        <li>
          <%= friend.name %> 
          <% if @current_user == @user %>
            <%= link_to "Remove", friendship_path(:friended_id => friend.id), :method => :delete %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <% if @current_user == @user %>
        <h4>Friend Requests</h4>
        <ul>
            <% @user.requests_from.each do |request| %>
            <li>
              <%= request.name %> 
              <%= link_to "Accept", friendship_path(:friended_id => request.id), :method => :put %> 
              <%= link_to "Decline", friendship_path(:friended_id => request.id), :method => :delete %>
            </li>
          <% end %>
        </ul>
    <% end %>






<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

