  <% if @friendship.errors.any? %>
    <div id="error_explanation">
      <h4>Failed to create this friendship</h4>

      <ul>
      <% @friendship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@friendship) do |f| %>

  <div class="field">
    <%= f.label :friender_id %><br>
    <%= f.number_field :friender_id %>
  </div>
  <div class="field">
    <%= f.label :friended_id %><br>
    <%= f.number_field :friended_id %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br>
    <%= f.check_box :accepted %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
