  <% if @music.errors.any? %>
    <div id="error_explanation">
      <h4>Failed to post this music</h4>

      <ul>
      <% @music.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="middle-page">
<hr>
<%= form_for(@music, :html => {:class => "form-group"}) do |f| %>


  <br />
  <div class="field">
    <label class="sr-only">Comment:</label>
    <%= f.text_area :comment,rows:4, :maxlength => 200, placeholder: 'Say something to your friends... (max 200 characters)', :class => "form-control" %>
  </div>

  <br>
  <div class="field row">
    <%= f.label :tag_list, "Tags", :class => "col-md-1" %>
    <%= f.text_field :tag_list, :class => " col-md-10", placeholder: 'hashtags for this music (e.g. #tag1 #tag2)'%>
  </div>

  <br>
  <div class="field row">
    <%= f.label :link, :class => "col-md-1" %>
    <%= f.text_field :link, :class => " col-md-10", placeholder: 'http://music.163.com/#/song?id=28391135......'%>
  </div>

  <br>
  <div class="field row">
  <%= f.radio_button :sharetype, 0, :checked => true %> 
  <%= label :shareSingle, 'Single Song' %>
  <%= f.radio_button :sharetype, 1 %>
  <%= label :shareList, 'Playlist' %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Submit", :class => 'btn btn-primary'%>
  </div>


  <br />
<% end %>
</div>