
<div class="row">
<div class="col-md-8"><h1>Discover music</h1></div>
<!-- <button class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><%= link_to 'New Music', new_music_path %></button> -->

<div class="col-md-2"><%= link_to 'New Music', new_music_path, remote: true, class: "btn btn-primary" %></div>
<div class="col-md-2"><%= link_to 'New Audio', new_music_path, remote: true, class: "btn btn-default" %></div>
</div>

<div id="music-form" style="display:none;"></div> 
<br>

<div >

<table class="table table-striped">
<% @musics.each do |music| %>
  
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <div>
      <%= image_tag(music.user.image.url(:small), :class => "profile-img") %>
      </div>
    </td>
    <td class="list_description">
      <ul class="music-item">
        <li>
        <strong><%= link_to music.user.name, mytimeline_path(music.uid) %></strong>
        </li>
        <li> <%= music.comment %> </li>
        <li> <p><iframe frameborder="no" border="0" width=320 height=90 src="<%= music.link %>"></iframe></p></li>
        <li>
            <%= link_to 'Add Comment', new_comment_path(:post_id => music.id)%>
            <%= link_to 'Like', new_like_path(:post_id => music.id)%>
            <%= music.likecount %>
           <table>
             <% music.comments.each do |comment| %>
              <tr>
                <td>
                <%= comment.content %>  
                </td>
              </tr>
              <% end %>  
            </table>
        </li>


        <li style="color:grey"><%= music.created_at %></li>
      </ul>
    </td>
<!--     <td class="list_actions">
      <%= link_to 'Show', music %><br/>
      <%= link_to 'Edit', edit_music_path(music) %><br/>
      <%= link_to 'Delete', music, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td> -->
  </tr>
<% end %>
</table>
<br />

</div>