<h1>Discover music</h1>
<br />
<button class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><%= link_to 'New Music', new_music_path %></button>

<div >
<br />  
<table class="table table-striped">
<% @musics.each do |music| %>
  
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <div>
      <%= image_tag(music.user.image.url(:small), :class => "profile-img", :alt=>"http://osinskiartur.pl/img/news/unknow.png") %>
      </div>
      <div>
      <%= link_to music.user.name, user_path(music.uid) %>
      </div>
    </td>
    <td class="list_description">
      <!-- <dl>
        <dt><%= music.comment %></dt>        
        <dd><%= music.hashtag %></dd>
        <dt id="title">&nbsp&nbsp&nbsp<%= music.title %> - <%= music.artist %></dt>
        <dd><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=320 height=80 src="<%= music.link %>"></iframe></dd>
      </dl> -->
      <ul class="music-item">
        <li> <%= music.comment %> </li>
        <li> <%= music.hashtag %> </li>
        <li> <p><iframe frameborder="no" border="0" width=320 height=50 src="<%= music.link %>"></iframe></p></li>
        <li style="color:grey"><%= music.created_at %></li>
      </ul>
    </td>
    <td class="list_actions">
      <%= link_to 'Show', music %><br/>
      <%= link_to 'Edit', edit_music_path(music) %><br/>
      <%= link_to 'Delete', music, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  

    </td>
  </tr>
<% end %>
</table>
<br />

</div>