<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @music.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @music.artist %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @music.comment %>
</p>

<p>
  <strong>Hashtag:</strong>
  <%= @music.hashtag %>
</p>

<p>
  <strong>Link:</strong>
  <%= @music.link %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
