<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Music url:</strong>
  <a href ="<%= @product.image_url %>"><%= @product.image_url %></a>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="<%= @product.image_url %>&auto=0&height=66"></iframe>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
