<h1>Listing unreadcomments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Post</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unreadcomments.each do |unreadcomment| %>
      <tr>
        <td><%= unreadcomment.comment_id %></td>
        <td><%= unreadcomment.post_id %></td>
        <td><%= unreadcomment.user_id %></td>
        <td><%= link_to 'Show', unreadcomment %></td>
        <td><%= link_to 'Edit', edit_unreadcomment_path(unreadcomment) %></td>
        <td><%= link_to 'Destroy', unreadcomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unreadcomment', new_unreadcomment_path %>
